include README.md
include LICENSE
include CONTRIBUTING.md
include requirements.txt
recursive-include nexus_cosmic *.py
recursive-include examples *.py
recursive-include tests *.py
recursive-include docs *.md
